# Tutorial

In [2]:
# import all packages you will need
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import scipy.signal
import datetime
import glob
import math
import sys

In [3]:
import sys, os
# Get the current scriptâ€™s directory
current_directory = os.getcwd()
# Go back one folder level
parent_directory = os.path.abspath(os.path.join(current_directory, os.pardir))
sys.path.insert(0, parent_directory)
from mtsthelens import preprocessing_functions, manipulation_functions, plotting_functions

## Read & preprocess data

In [4]:
# Read input data
df =  preprocessing_functions.read_data('../example/example_data/example_data_eruption.csv')

# Data smoothing
df = df.rolling('6H', center=True).median()

# Remove outliers
df = df.apply(preprocessing_functions.mask_df,axis=0) # peak detection
df

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

## Data manipulation

### Stack in Time

In [ ]:
# Find the seasonal trends in the data, and create a new dataframe with the seasonality removed
df_seasonal_trends, df_seasonality_removed = manipulation_functions.stackInTime(df)
df_seasonal_trends
# Save those dataframes as output csv files
# manipulation_functions.export_csv('example_data_eruption_stacktime', df_seasonal_trends)
# manipulation_functions.export_csv('example_data_eruption_seasonality_removed', df_seasonality_removed)

### Stack in Space

In [ ]:
# Find the differences between the stations, and the average 
df_median_stackSpace, df_stackSpace_year = manipulation_functions.stackInSpace(df)
df_yearlyParam = manipulation_functions.stackSpace_yearParam(df_stackSpace_year)
df_stackSpace_year
# Save those dataframes as output csv files
# manipulation_functions.export_csv('example_data_eruption_stackspaceYear',df_stackSpace_year)
# manipulation_functions.export_csv('example_data_eruption_stackspaceParam',df_yearlyParam)

### Apply Filter

In [ ]:
df = df.fillna(0)
df_filter = manipulation_functions.filter_data(df)
# manipulation_functions.export_csv('example_data_eruption_filter',df_filter)
print(df_filter)
plt.figure()
plt.plot(df_filter)

## Data plotting

In [ ]:
# read extrusion rate data
df_dome = pd.read_csv('../example/example_data/dome_extrusion.txt', header=0, skiprows=0)
df_dome.set_index('Date of photography',inplace=True)
df_dome.index = pd.to_datetime(df_dome.index).tz_localize(None)
# df_dome['diff'] = df_dome['Total volume change(x 106 m3)']-df_dome['Total volume change(x 106 m3)'].shift(1)
df_dome.head()

In [ ]:
# df_dome.plot(marker='o')

In [ ]:
# Plotting Time Stack vs Raw Data
plotting_functions.plot_stack_vs_raw(df_seasonality_removed, df)
# Plotting Filtered Timestack vs Raw Data
plotting_functions.plot_stack_vs_raw(df_filter, df)
# Plotting the min, max, mean and median values
plotting_functions.plot_space_params(df_yearlyParam)
plotting_functions.plot_extrusion(df_dome, df, df_seasonality_removed, df_filter)

### Bring data into used shape

In [ ]:
df.head(), df_seasonality_removed.head(), df_filter.head()

In [ ]:
df

In [ ]:
df_stat = manipulation_functions.stackSpace_yearParam(df) # extract statistical values

# append latitude and longitude of the station as rows for plotting
df_stat.loc['latitude'] = [df_sta.loc[df_sta['Station'] == sta, 'latitude'].values[0] for sta in df_stat.columns]
df_stat.loc['longitude'] = [df_sta.loc[df_sta['Station'] == sta, 'longitude'].values[0] for sta in df_stat.columns]
df_stat

In [ ]:
# Create a dictionary with Date as key for, DataFrames
dict_test = manipulation_functions.df2dict(df, 'year')
dict_stat = {}
for key, value in dict_test.items():
    df_stat = manipulation_functions.stackSpace_yearParam(value) # extract statistical values

    # append latitude and longitude of the station as rows for plotting
    df_stat.loc['latitude'] = [df_sta.loc[df_sta['Station'] == sta, 'latitude'].values[0] for sta in df_stat.columns]
    df_stat.loc['longitude'] = [df_sta.loc[df_sta['Station'] == sta, 'longitude'].values[0] for sta in df_stat.columns]
    dict_stat[key] = df_stat

# Save the dictionary as npy
np.save('output/data/my_file.npy', dict_stat)

### Create Plots for Animation

In [ ]:
read_dictionary = np.load('output/data/my_file.npy',allow_pickle='TRUE').item()
read_dictionary

In [ ]:
plotting_functions.animation(read_dictionary, 'median', 'inferno')

### Plot Station sorted by distance

This part of the project is still in progress. The example date should produce an output but we did not wrote the final functions and tests for this part.

In [5]:
# load station coordinates and drop the stations which are not of interresst
sta_list =['BLIS', 'CDF', 'EDM', 'ELK', 'FL2', 'HOA', 'HSR', 'JRO', 'JUN', # specify the stations you want to use
           'LOO', 'MIDE', 'NED', 'RAFT', 'REM', 'SEP', 'SHW', 'SOS', 'SPN5',
           'STD', 'SUG', 'SWFL', 'TDL', 'USFR', 'VALT', 'YEL'] 

df_sta = pd.read_csv('./example_data/sta_log_long.txt', sep='|', header=0) # coordinates
df_sta = df_sta[~df_sta['Station'].isin(list(set(df_sta.Station)-set(sta_list)))] # delete Stations which are not of interresst
df_sta = df_sta.drop_duplicates(subset=['Station']) # drop one station if the station is not unique
df_sta = df_sta.reset_index(drop=True)
df_sta.head()

,Network,Station,latitude,longitude,Elevation,Sitename,StartTime,EndTime
0,CC,BLIS,46.197472,-122.186569,2116.00,"Blister, Mt. St. Helens (Dome sta)",2004-10-12T00:00:00,2005-02-17T00:00:00
1,CC,HOA,46.241780,-122.191830,1151.00,Hoala,2021-06-08T00:00:00,2599-12-31T23:59:59
2,CC,JRO,46.275270,-122.218260,1219.00,Johnston Ridge Observatory,2004-10-02T00:00:00,2599-12-31T23:59:59
3,CC,LOO,46.223750,-122.184390,1521.35,Loowit,2021-06-08T00:00:00,2599-12-31T23:59:59
4,CC,MIDE,46.197750,-122.187439,2132.00,Near old BLIS MSH,2005-02-16T00:00:00,2005-07-26T00:00:00

In [6]:
# get the distance between the stations and sort them in increasing order (relative to station SEP -> crater center)
ref_sta = 'SEP' # define the reference station, we will get distance from all other stations to this station
df_sta['dist'] = df_sta.apply(lambda x: preprocessing_functions.calculate_distance(x['latitude'],df_sta.latitude[df_sta['Station']==ref_sta].values[0] , x['longitude'],df_sta.longitude[df_sta['Station']==ref_sta].values[0] ), axis=1)
df_sta = df_sta.sort_values(by=['dist'])
sta_sorted = df_sta['Station'].to_list()
df_sta.head()

,Network,Station,latitude,longitude,Elevation,Sitename,StartTime,EndTime,dist
8,CC,SEP,46.199780,-122.190857,2114.00,"September lobe, Mt. St. Helens (Dome sta)",2004-11-05T00:00:00,2599-12-31T23:59:59,0.000000
4,CC,MIDE,46.197750,-122.187439,2132.00,Near old BLIS MSH,2005-02-16T00:00:00,2005-07-26T00:00:00,0.346634
7,CC,REM,46.200200,-122.185500,1905.44,"Rembrant, Mount St. Helens",2018-07-25T00:00:00,2599-12-31T23:59:59,0.414926
5,CC,NED,46.200249,-122.185493,2060.00,"NE part of old Dome, Mt. St. Helens (Dome sta)",2004-11-20T00:00:00,2013-05-01T00:00:00,0.416109
0,CC,BLIS,46.197472,-122.186569,2116.00,"Blister, Mt. St. Helens (Dome sta)",2004-10-12T00:00:00,2005-02-17T00:00:00,0.418066

In [7]:
# sort the columns corresponding to crater distane
def sort_columns(df, column_order):
    # Filter the list to only include existing columns in the DataFrame
    valid_columns = [col for col in column_order if col in df.columns]

    # Sort the DataFrame columns based on the valid columns list
    sorted_columns = valid_columns + [col for col in df.columns if col not in valid_columns]

    # Return the DataFrame with sorted columns
    return df[sorted_columns]

# column names and drop too short stations
# value = df.rename(columns={"YEL/VALT": "YEL"})
# value = df.drop(['NED','JRO'], axis=1)

# resample
df = df.resample('1D').median()

# resample
df = df.rolling('2D', center=True).median()

# Sort the columns based on the desired order
df_sorted = sort_columns(df, sta_sorted)

# Display the result
df_sorted

NameError: name 'df' is not defined

In [ ]:
 # Normalize the columns
df_sorted_norm = df_sorted.apply(preprocessing_functions.norm, axis=0)

# Display the result
df_sorted_norm

In [ ]:
# read txt-file with UTC times and type of activity
df_activity = pd.read_csv('./example_data/mt_st_helens_activity.txt', header=1, skiprows=11)
df_activity.set_index('UTC',inplace=True)
df_activity.index = pd.to_datetime(df_activity.index).tz_localize(None)

activity_dome = df_activity.copy()
activity_dome_start = activity_dome[activity_dome['activity' ]=='d'].take([0,2,3,4,5,6])
activity_dome_end = activity_dome[activity_dome['activity' ]=='ed'].take([1,2,3,4,5,6])
activity_dome_start, activity_dome_end

In [ ]:
from matplotlib.pyplot import cm
# Plot each column with an offset along the y-axis
year_plot = [2004, 2005]

fig, ax = plt.subplots(figsize=(6.4*2, 4.8))
offset = 0

for col in df_sorted_norm.columns:
    y_values = df_sorted_norm[col] + offset
    ax.plot(df_sorted_norm.index, y_values, label=col)
    offset += 0.5  # Adjust the offset as needed

ax.set_yticks(np.arange(0.25,(len(df_sorted_norm.columns))/2,0.5))
ax.set_yticklabels(df_sorted_norm.columns)
    
plt.xlim([datetime.datetime(year_plot[0],1,1), datetime.datetime(year_plot[-1],1,1)])

color = cm.gray(np.linspace(0, 1, len(activity_dome_start)+2))

for i in range(len(activity_dome_start)):
    sdate = activity_dome_start.index[i].to_pydatetime() # start date
    edate = activity_dome_end.index[i].to_pydatetime() # end date
    ax.axvspan(sdate, edate, alpha=0.25, color=color[i])
    
plt.title('DSAR')
# plt.savefig('output_path', dpi=300, bbox_inches='tight')
plt.show()